@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    
}
.dashboard__body_container{
    display: flex;
}
.dashboard__title{
    /* border: 1px solid red; */
    padding: 15px 0;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
}
.dashboard__body{
    border: 1px solid  lightgray;
    height: 90vh;
    width: 20%;
    text-align: center;
    margin-left: 2px;
    background:#F7F7F7;
    border-top-right-radius: 40px;
    
}
.dashboard__user{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 5px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  lightgray;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
}