
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Catamaran', sans-serif; */
    font-family: Merriweather;
    color: black;

}
 


.signin_container{
     width: 100vw;
     height:100vh;
     display: flex;
     justify-content: center;
     align-items: center;
    background: linear-gradient(180deg, #EAF7FF 0%, #E5F4FF 95.31%);
}
.container1{
    width: 70%;
    height: 500px;
    background: linear-gradient(180deg, #EAF7FF 0%, #E5F4FF 95.31%);
   display: flex;
   z-index: 1;

}
.container1__img{
    width: 100%;
    height: 100%;
     background-image: url('../images/house.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.container1__form{
    width: 100%;
    height: 100%;
}
.fields{
    width: 70%;
    background: white;
    margin: auto;
    height: 75%;
    padding: 25px;
    border-radius: 18px;
}
.field_button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.field_button>button{
    width: 30%;
    outline: none;
    background-color: #5CA1FF;
    border-radius: 22px;
    color: white;
    border: none;
    padding: 5px;
}
.field_button>button:hover{
    background:#2F78FF;
}
.new__acount{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top:10px;
}
.checkinfo{
     margin-top: 20%;
     display: flex;
     justify-content: center;
}
.signup-history{
    margin-top: 10px;
}
.new_account_signup{
    color:#2F78FF;
    cursor: pointer;

}
.new_account_signin{
    font-size: 30px;
    font-weight: 600;
    font-family: Playfair Display;
    margin-bottom: 0px;
}
.signup-history{
    /* margin-bottom: 0px; */
    padding-top: 10px;
}
.field_label{
    display: flex;
    justify-content: left;
}










